# Curso Big Data #3 - Transformaciones en columnas en PySpark

# Librerías

In [23]:
import findspark
findspark.init()

In [24]:
from pyspark.sql import SparkSession

### 1. Crear la SparkSession

In [25]:
spark = SparkSession.builder.appName('columnsTransform').getOrCreate()

### 2. Lectura parquet

In [30]:
df = spark.read.parquet('parquet_example')

In [31]:
df.show(2)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 2 rows

In [32]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)

### 3. Operaciones simples sobre columnas

#### 3.1 Selección de columnas

In [36]:
sel_cols = ['Series_title_1', 'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5']
df_sel = df.select(sel_cols)

In [37]:
df_sel.show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

Otro método

In [38]:
df[sel_cols].show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

#### 3.2 Renombrar una columna

In [72]:
df_sel.withColumnRenamed('Series_title_1', 'ST_1').show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|                ST_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

In [73]:
df_sel.show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

#### 3.3 Ordenar DF

Ascendente

In [45]:
df.sort('Data_value')[['Data_value']].show(10)

+----------+
|Data_value|
+----------+
|  -398.194|
|     -5.26|
|   100.652|
|  1001.875|
|  1005.093|
|  1006.126|
|  1007.319|
|  1007.684|
|   101.353|
|   101.504|
+----------+
only showing top 10 rows

Descendente

In [46]:
from pyspark.sql import functions as F

In [48]:
df.sort(F.desc("Data_value"))[['Data_value']].show(10)

+----------+
|Data_value|
+----------+
|   998.124|
|  9979.557|
|   997.972|
|   997.046|
|   991.864|
|   991.021|
|    99.474|
|   989.697|
|    988.82|
|   987.553|
+----------+
only showing top 10 rows

#### 3.4 Cambiar el tipo de la columna

In [49]:
from pyspark.sql.types import DoubleType, IntegerType, StringType

Creamos una nueva columna con el tipo nuevo

In [53]:
df = df.withColumn('Data_value_int', F.col('Data_value').cast(DoubleType()))

In [54]:
df.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1116.386|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1070.874|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1054.408|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1010.665|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|        1233.7|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [55]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)
 |-- Data_value_int: double (nullable = true)

Ahora si podemos ordenar correctamente

In [56]:
df.sort('Data_value_int')[['Data_value_int']].show(10)

+--------------+
|Data_value_int|
+--------------+
|      -398.194|
|         -5.26|
|         8.274|
|         8.413|
|         9.411|
|         21.14|
|        22.619|
|        23.376|
|        24.071|
|        28.332|
+--------------+
only showing top 10 rows

#### 3.5 Aplicar filtros

Simple

In [58]:
df_filter = df.filter(df.Data_value_int > 100)

In [60]:
df_filter.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1116.386|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1070.874|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1054.408|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1010.665|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|        1233.7|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [62]:
df.count(), df_filter.count()

(1936, 1838)

In [63]:
df_filter = df.filter('Data_value_int > 100')

In [64]:
df.count(), df_filter.count()

(1936, 1838)

Varias columnas

In [66]:
df_filter = df.filter((df.Data_value_int > 100) & (df.STATUS == 'R'))

In [67]:
df_filter.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1FF1CA|2019.09| 28200.644|      null|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|     Wholesale Trade|Current prices|    Unadjusted|          null|     28200.644|
|   BDCQ.SF1FF1CA|2020.09| 29794.725|      null|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|     Wholesale Trade|Current prices|    Unadjusted|          null|     29794.725|
|   BDCQ.SF1II1CA|2016.06|  7024.368|      null|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Transport, Postal...|Current prices|    Unadjusted|          null|      7024.368|
|   BDCQ.SF1II1CA|2016.09|  7233.169|      null|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Transport, Postal...|Current prices|    Unadjusted|          null|      7233.169|
|   BDCQ.SF1MN1CA|2020.09| 11440.003|      null|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Professional, Sci...|Current prices|    Unadjusted|          null|     11440.003|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [68]:
df.count(), df_filter.count()

(1936, 20)

In [70]:
df_filter = df.filter("Data_value_int > 100 and STATUS = 'R'")

In [71]:
df.count(), df_filter.count()

(1936, 20)

#### 3.6 Separación de una columna (split)

In [86]:
df_year = df\
.withColumn('Year', F.split('Period', '\.')[0].cast(IntegerType()))\
.withColumn('Month', F.split('Period', '\.')[1].cast(IntegerType()))

In [87]:
df_year.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|Year|Month|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1116.386|2016|    6|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1070.874|2016|    9|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1054.408|2016|   12|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|      1010.665|2017|    3|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      null|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          null|        1233.7|2017|    6|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
only showing top 5 rows